@media (max-width:1569px) {
.container{ width:90%; margin:0 auto; padding:0; max-width:inherit;}


}

/************ Main **************/
@media (max-width: 991px) {
body{ font-size:16px;}
p,.why_block ul li,.why_block h3,.hero_sec p{ font-size:16px;}
.hero_sec .container{ padding-left:0; padding-right:0;}
h2.title{ font-size:28px;}
.form_in{ padding-right:0;}
.ftr_logo{ text-align:center;}

}

@media (max-width: 767px) {
html { -webkit-text-size-adjust:none;}
.container{ width:90%; margin:0 auto; padding:0; max-width: inherit;}
header{ padding:10px 0;}
header,header .call{ text-align:center;} 
.sp_logos ul li{ width:50%; margin-bottom:15px;}
header.sticky{ position:relative;}
}
/************ iphone **************/
@media (max-width:600px) {
html { -webkit-text-size-adjust:none;}

}