@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=swap');
/*
 font-family: 'Open Sans', sans-serif;
*/

body{ padding:0; margin:0; font-size:20px; color:#000; font-family: 'Open Sans', sans-serif; }
a {outline:none !important; text-decoration:none;
-webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; transition:all .4s ease-in-out;}
a:hover, a:focus, select:focus, button:focus,.btn:focus,btn.focus { outline:none; color:#03539b; text-decoration:none; box-shadow:none;}
* { margin:0; padding:0;}
img { border:none; vertical-align:middle; max-width:100%;}
li{ list-style:none;}
h1, h2, h3, h4, h5, h6{ outline:none !important;font-family: 'Open Sans', sans-serif;}
input, select, textarea, button{ outline:none !important;}
input, textarea, select{ /*-moz-appearance: none; -webkit-appearance: none;*/}
.container{ width:90%; max-width:1570px; margin:0 auto; padding:0;}

p{ font-size:20px; color:#000000;}

header{ width:100%; float:left;background:#fff; padding:15px 0; margin:0; -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; transition:all .4s ease-in-out;}
header .call{ text-align:right; font-size:12px; line-height:25px;}
.call a{ font-size:31px; color:#03539b; font-weight:bold; display:block;}
.logo img{ width:230px; -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; transition:all .4s ease-in-out;}
header.sticky{ position: fixed; background:#fff; box-shadow:0 5px 10px rgba(0,0,0,0.2); z-index:999; padding:10px 0 5px;}
header.sticky .logo img{ width:190px;} 

section{ width:100%; float:left; padding:0;}
.hero_sec{ width:100%; float:left; margin:0; background:#f1f1f1; padding:40px 0;}
.hero_sec .container{ padding-left:2%; padding-right:2%;}
.hero_form{ width:100%; float:left; padding:0 4%;}
h2.title{ font-size:38px; color:#03539b; margin:0; font-weight:700;}
.hero_sec p{ font-size:15px;}
.form_in{ padding-right:50px;}
.hero_sec figure{width: 100%; margin: 0 auto; padding: 0; max-width:530px; display: block; border-radius: 50%;}
.hero_sec figure img{width: 100%;border-radius: 50%;}
.form-control{ border:1px solid #707070; height:48px; font-size:12px;}
.btn.btn-green{ width:100%; background:#40c2c4; color:#fff; text-transform:uppercase; font-weight:700; font-size:14px; padding:10px 20px;}
.btn.btn-green:hover{background:#25989a;}

.sp_logos{ width:100%; float:left; background:#03539b; padding:25px 0;}
.sp_logos ul{ width:100%; float:left; margin:0;}
.sp_logos ul li{ width:20%; float:left; display:inline-block; text-align:center;}

.why{ width:100%; float:left; padding:60px 0;}

.why_block{ width:100%; float:left; margin:40px 0; padding:0 4%;}
.why_block h3{ font-size:20px; font-weight:700; margin:30px 0 15px;}
.why_block figure{ text-align:center; display:block;}
.why_block ul{ width:100%; float:left; margin:0;}
.why_block ul li{ width:100%; float:left; margin:7px 0; list-style:disc; font-size:20px;}


.plan{ width:100%; float:left; margin:0; padding:60px 0; background:#f1f1f1;}
.plan figure{width: 100%; margin: 0 auto 20px; padding: 0; max-width:400px; display: block; border-radius: 50%;}
.plan figure img{width: 100%;border-radius: 50%;}

.faq_sec{ width:100%; float:left; padding:50px 0 20px; text-align:center;}
.faq_sec a{ color:#03539b;}

.quote_sec{ width:100%; float:left; background:#f1f1f1; padding:30px 0 10px; font-size:15px;}
.quote_sec p{ font-size:15px;} 

footer{ background:#03539b; padding:20px 0; width:100%; float:left;}
.ftr_logo{ width:100%; float:left; margin:0 0 10px;}
.ftr_logo img{ width:200px;}
.copy_right{ width:100%; float:left; padding:10px 0; border-top:1px solid #fff; font-size:11px; color:#fff;}
.copy_right a{ padding:0 5px; color:#fff;}
.copy_right a:hover{ opacity:0.7;}

 
#Subscribes .modal-header{ border:none;}
#Subscribes .modal-header .close{ font-size:60px; color:#03539b; opacity:1;padding: 10px 20px 0;position: absolute;right: 20px;top: 20px;}
#Subscribes .modal-header p{ display:block; padding:0 40px;}
#Subscribes .modal-content { border-radius:0; }
#Subscribes h2.title{ text-align:center; padding:40px 0 10px;}
#Subscribes .modal-body{ padding:10px 40px;text-align:center;}
#Subscribes .modal-body p{ padding:0 6%; }
.email_form{ width:100%; float:left; padding:10px 5%; }



#btn-back-to-top {
    
    width:150px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    cursor: pointer; 
  }