@media (max-width:1279px) {
.container{ width:90%; margin:0 auto; padding:0;}
header{ padding-top:20px;}
.hero_sec{ padding:210px 0 30px;}
.hero_sec .inner { max-width: 720px;}
.hero_sec h1{ font-size:36px;}
h2.title{ font-size:36px;}
p.info{ font-size:18px; max-width:480px;}
.review_sec .rate img{ width:50%;}
ul.list li{ font-size:18px;}
}

/************ Main **************/
@media (max-width: 991px) {
.hero_sec { padding: 140px 0 30px;}
.hero_sec .inner{ padding-left:30px;  max-width: 600px;}
.hero_sec h1{ font-size:30px;}
h2.title{ font-size:30px;}
h2.title.mb-5{ margin-bottom:30px !important;}
p.info{ font-size:15px; max-width:400px; margin-bottom:30px;}
ul.list li{ font-size:14px;}
ul.list { padding: 0 0 10px 10px; margin: 0 0 20px;}
.btn{ min-width: 250px; font-size: 16px; padding:10px 20px;}
.review_sec{ padding-top:20px;}
.review_sec .rate{ margin-bottom:40px;}
.better_sec{ padding:40px 0 20px;}
.plan_sec{ padding:40px 0 10px;}
.quote_sec p{ font-size:14px;}
.form-control{ height:48px;}

#Subscribes h2.title{ font-size:23px;}
#Subscribes .modal-header .close{ font-size:47px;}
#Subscribes .modal-body p{ font-size:16px;}
}

@media (max-width: 767px) {
html { -webkit-text-size-adjust:none;}
.container{ width:90%; margin:0 auto; padding:0; max-width: inherit;}
.hero_sec .inner{ padding:0;}
.plan_sec .text-left{ text-align: center !important; margin-bottom:30px;}
.sp_logos ul li { width: 50%; margin-bottom: 15px;}
.ftr_logo{ text-align:center;}
header.sticky{ position:relative;}
}

/************ iphone **************/
@media (max-width:600px) {
html { -webkit-text-size-adjust:none;}
header{ position:relative;}
header .navbar{ flex-direction: column; justify-content: center;}
header .top_info{ margin-top:10px; text-align:center;}
.hero_sec { padding: 40px 0 20px;}
.btn{ min-width:inherit; width:100%; font-size:15px;}
.testi{ padding:20px 20px 30px;}

#Subscribes h2.title { font-size: 20px; text-align: left;}
#Subscribes .modal-header .close { font-size: 40px; padding:12px 10px 0;}
#Subscribes .modal-body p{ font-size:14px;}
}