@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/*
font-family: 'Open Sans', sans-serif;
*/

body{ padding:0; margin:0; font-size:14px; color:#000;font-family: 'Open Sans', sans-serif;}
a {outline:none !important; text-decoration:none;
-webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; transition:all .4s ease-in-out;}
a:hover, a:focus, select:focus, button:focus,.btn:focus,btn.focus { outline:none; text-decoration:none; box-shadow:none;}
* { margin:0; padding:0;}
img { border:none; vertical-align:middle; max-width:100%;}
li{ list-style:none;}
h1, h2, h3, h4, h5, h6{ outline:none !important;}
input, select, textarea, button{ outline:none !important;}
input, textarea, select{ /*-moz-appearance: none; -webkit-appearance: none;*/}
.container{ width:90%; max-width:1400px; margin:0 auto; padding:0;}

/***********  Top Part  ************/
header{ width:100%; float:left; padding:15px 0 0; margin:0; position:absolute; top:0; z-index:999; -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; transition:all .4s ease-in-out;}
header .container{ max-width:100%;}
.navbar-brand{ margin:0; padding:0; -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; transition:all .4s ease-in-out; width:230px; }
.top_info{ margin:0; padding:0; font-size:12px; color:#000000; text-align:right;}
.top_info strong{ display:block; font-size:31px; color:#03539b; line-height:32px;}
header.sticky{ position: fixed; background:#fff; box-shadow:0 5px 10px rgba(0,0,0,0.2); z-index:999; padding:10px 0;}
header.sticky .navbar-brand{ width:190px;} 

/************* Section ***********/
section{ width:100%; float:left; padding:0; margin:0;}
 

.hero_sec{ width:100%; float:left; padding:200px 0 70px 0; margin:0; background:url(../images/hero_banner.jpg) no-repeat center bottom; background-size:cover; text-align:center;}
.hero_sec .inner{ width:100%; max-width:830px; padding:0 0 0 60px; margin:0 auto;}
.hero_sec h1{ margin:0 0 20px; padding:0; font-size:42px; color:#03539b; font-weight:700;}


@media (max-width: 600px) {
    .hero_sec {
         width:100%; float:left; padding:290px 0 70px 0; margin:0; background:url(../images/hero_bannerM.jpg) no-repeat center bottom; background-size:cover; text-align:center;}
}

h2.title{ margin:0 0 20px; padding:0; font-size:48px; color:#03539b; font-weight:700;}
p.info{ margin:0 auto 40px; padding:0; font-size:20px; color:#000000; font-weight:500; display:block; max-width:521px;}

.form_in{ padding:0 15px;}
.form-group { margin-bottom: 20px;}
.form-control{ border:1px solid #707070; height:60px; font-size:16px; padding:0 20px; box-shadow:none !important;}

.btn{ min-width:314px; background:#03539b; color:#fff; font-weight:700; font-size:21px; padding:10px 30px; border-radius:0; box-shadow:none !important;}
.btn:hover{background:#000; color:#fff;}

/*--- Logos ----*/
.sp_logos{ width:100%; float:left; background:#f1f1f1; padding:30px 0;}
.sp_logos .container{ max-width:1070px;}
.sp_logos ul{ width:100%; float:left; margin:0;}
.sp_logos ul li{ width:20%; float:left; display:inline-block; text-align:center;}
.sp_logos ul li img{ opacity:0.6;}

/*--- Review ---*/
.review_sec{ width:100%; float:left; background:#f1f1f1; margin:0 0 110px 0; padding:40px 0 0; text-align:center;}
.review_sec .rate{ margin:0 0 75px; padding:0;}
.testi-carousel{ margin-bottom:-110px;}
.testi{ width:100%; float:left; margin:0 0 10px; padding:20px 30px 30px; background:#fff; border-radius:15px; box-shadow:0 5px 5px rgba(0,0,0,0.1); text-align:left;}
.testi .author{ margin-bottom:15px; display:flex; align-items:center; flex-wrap:wrap;}
.testi figure{ width:39px; height:39px; float:left; margin:0; border-radius:50%;}
.testi figure img{ border-radius:50%;}
.testi .author .rtl{ padding-left:15px; font-size:16px; color:#000; font-weight:600;}
.testi p{ margin-bottom:0;}

/*--- Better ---*/
.better_sec{ padding:80px 0 60px 0; margin:0; float:left; width:100%; text-align:left;}
.better_sec h3{ margin-bottom:25px; padding:0; font-size: 20px; font-weight: 700; color:#03539b;}
.better_sec figure{ margin-bottom:30px;}

ul.list{ padding:0 0 30px 20px; margin:0 0 30px; position:relative;}
ul.list li{ margin:0 0 15px; padding:0; font-size:20px; list-style:disc; line-height:normal;}

.better_sec ul.list:after{ content:""; width:90%; height:1px; background:#999999;  position:absolute; bottom:0; left:30px;}
.better_sec ul.list.border-0{ padding-bottom:0;}
.better_sec ul.list.border-0:after{ display:none;}


/*--- Plan ---*/
.plan_sec{ width:100%; float:left; margin:0; padding:60px 0; background:#f1f1f1; text-align:center;}
.container.sm{ max-width:1070px;}
.plan_sec .info{ max-width:1070px;}
.plan_sec figure{width: 100%; margin: 0 auto 30px; padding: 0; text-align:center;}

/*--- Quote ---*/
.quote_sec{ width:100%; float:left; padding:30px 0 15px;}
.quote_sec p{ margin-bottom:20px; font-size:15px;} 

/************* Footer ***********/
footer{ background:#03539b; padding:20px 0; width:100%; float:left;}
.ftr_logo{ width:100%; float:left; margin:0 0 10px;}
.ftr_logo img{ width:200px;}
.copy_right{ width:100%; float:left; padding:10px 0; border-top:1px solid #fff; font-size:11px; color:#fff;}
.copy_right a{ padding:0 5px; color:#fff;}
.copy_right a:hover{ opacity:0.7;}

#Subscribes{}
#Subscribes .modal-header{ padding:26px 20px; border:none; background:#03539b; border-radius:0;}
#Subscribes .modal-header .close{ font-size:60px; color:#fff; opacity:1;padding: 10px 20px 0;position: absolute;right: 20px;top: 20px; text-shadow:inherit;}
#Subscribes .modal-header p{ display:block; padding:0 40px;}
#Subscribes .modal-content { border-radius:0; }
#Subscribes h2.title{ font-size:40px; text-align:center; padding:0; color:#fff; margin:0; width:100%;}
#Subscribes .modal-body{ padding:30px 20px 30px;text-align:center;}
#Subscribes .modal-body p{ padding:0; font-size:20px; margin-bottom:30px;}
.email_form{ width:100%; max-width:508px; margin:0 auto; padding:0;}
.email_form .btn{ min-width:inherit; width:100%; border-radius:5px;}



#btn-back-to-top {
    
    width:150px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    cursor: pointer; 
  }