@media (max-width:1569px) {
.container{ width:90%; margin:0 auto; padding:0; max-width:inherit;}
}

@media (max-width:1366px) {
.hero_sec h2{ font-size:38px;}
.hero_sec p{ font-size:18px;}
.testi_block .detail{ padding:30px;}
.global_title{ font-size:44px;}
}

/************ Main **************/
@media (max-width: 991px) {
body{ font-size:16px;}
p,.why_block ul li,.why_block h3,.hero_sec p{ font-size:16px;}
.hero_sec .container{ padding-left:0; padding-right:0;}
.hero_sec .inner{ max-width:inherit;}
.cap_box{ padding:40px 20px 30px; margin-bottom:20px;}
h2.title{ font-size:28px;}
.email_form{ padding:10px 0;}
.global_title{ font-size:34px;}
.testi_block{ padding:0;}
.testi_block figure{ width:90px; max-width:90px; min-width:90px;}
.advantage_sec::before{ width:490px;}
}

@media (max-width: 767px) {
html { -webkit-text-size-adjust:none;}
.container{ width:90%; margin:0 auto; padding:0; max-width: inherit;}
header{ padding:15px 0; position:relative; text-align:center;}
header .call{ text-align:center; margin-top:10px; float:none;} 
.sp_logos ul li{ width:50%; margin-bottom:15px;}
.hero_sec{ padding:60px 0 0 0; text-align:center;}
.hero_sec h2{ text-align:center;}
.hero_sec p{ text-align:center;}
.hero_sec .inner{ max-width:inherit;}
.hero_form h3{ font-size:34px;}
.advantage_sec{ padding:40px 0;}
.global_title{ margin-bottom:20px;}
.btn.btn-green{ font-size:18px;}
#Subscribes .close{ font-size:16px;}
.ftr_logo{ text-align:center;}
header.sticky{ position:absolute;}
}
/************ iphone **************/
@media (max-width:600px) {
html { -webkit-text-size-adjust:none;}
#Subscribes .modal-body{ padding:20px 20px 10px 20px;}
.call a{ font-size:30px;}
header .call{ min-width:100%;}
.hero_sec h2{ font-size:28px;}
.hero_form h3{ font-size:28px;}
.form_in{ padding:30px 30px 40px 20px;}
.testimonial_sec{ padding:40px 0 30px 0;}
.global_title{ font-size:26px;}
.testi_block figure{ display:inline-block; margin-bottom:20px; float:none;}
.testi_block .detail{ width:100%;}
.testi_block{ display:block; text-align:center;}
.testi_block .detail::before{ display:none;}
.sp_logos h3{ font-size:24px;}
.advantage_sec::before{ width:290px;}
.advantage_sec{ padding-bottom:20px;}
}