@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=swap');
/*
 font-family: 'Open Sans', sans-serif;
*/

body{ padding:0; margin:0; font-size:20px; color:#000; font-family: 'Open Sans', sans-serif; }
a {outline:none !important; text-decoration:none;
-webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; transition:all .4s ease-in-out;}
a:hover, a:focus, select:focus, button:focus,.btn:focus,btn.focus { outline:none; color:#03539b; text-decoration:none; box-shadow:none;}
* { margin:0; padding:0;}
img { border:none; vertical-align:middle; max-width:100%;}
li{ list-style:none;}
h1, h2, h3, h4, h5, h6{ outline:none !important;font-family: 'Open Sans', sans-serif;}
input, select, textarea, button{ outline:none !important;}
input, textarea, select{ /*-moz-appearance: none; -webkit-appearance: none;*/}
.container{ width:90%; max-width:1570px; margin:0 auto; padding:0;}

p{ font-size:20px; color:#000000;}

header{ width:100%; float:left; padding:0; margin:0; position:absolute; top:0; left:0; z-index:9;-webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; transition:all .4s ease-in-out;}
header .call{ text-align:center; font-size:15px; color:#fff; line-height:40px; background:#03539b; min-width:340px; float:right; border-radius:0 0 20px 20px; padding:15px 0 10px 0;}
.call a{ font-size:41px; color:#fff; font-weight:bold; display:block;}
.logo img{ width:230px; -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; transition:all .4s ease-in-out;}
header.sticky{ position: fixed; background:#fff; box-shadow:0 5px 10px rgba(0,0,0,0.2); z-index:999; padding:0px 0;}
header.sticky .logo img{ width:190px;} 
header.sticky .call{ border-radius:0 0 0px 0px; padding:10px 0 5px; }
section{ width:100%; float:left; padding:0;}
.hero_sec{ width:100%; float:left; margin:0; padding:320px 0 0px 0; background:url(../images/banner_bg.jpg) center top no-repeat; background-size:cover;}
.hero_sec .container{ padding-left:2%; padding-right:2%;}
.hero_sec .inner{ width:100%; float:right; max-width:560px; margin:0; padding:0;}
.cap_box{ background:rgba(255,255,255,0.6); border-radius:10px; padding:40px 50px 30px; text-align:center; width:100%; float:left;}
.hero_sec h2{ margin:0 0 15px 0; padding:0; font-size:48px; color:#03539b; font-weight:bold; }
.hero_sec p{ margin:0 0 30px 0; padding:0; font-size:20px; color:#000000; font-weight:600; }

.hero_form{ width:100%; float:left; padding:0; background:#fff; border-radius:20px 20px 0 0; text-align:center;}
.hero_form h3{ margin:0; padding:20px 10px; font-size:41px; color:#fff; font-weight:bold; background:#03539b; border-radius:20px 20px 0 0;}
.form_in{ width:100%; float:left; margin:0; padding:30px 50px 40px 50px;}
.form_in p{ margin:0; padding:0; font-size:20px; color:#000000; text-align:center; font-weight:normal;}
.form_in p span{ color:#03539b; font-weight:700;}
.hero_sec figure{width: 100%; margin: 0 auto; padding: 0; max-width:530px; display: block; border-radius: 50%;}
.hero_sec figure img{width: 100%;border-radius: 50%;}
.form-control{ border:1px solid #8e8e8e; height:60px; font-size:16px;}
.btn.btn-green{ width:100%; background:#03539b; color:#fff; font-weight:700; font-size:26px; padding:10px 20px; border-radius:0;}
.btn.btn-green:hover{background:#40c2c4;}



/*******/
.testimonial_sec{ width:100%; float:left; margin:0; padding:60px 0 30px 0;}
.global_title{ margin:0 0 50px 0; padding:0; font-size:48px; color:#000000; font-weight:bold; text-align:center;}
.global_title span{ color:#03539b;}
.testi_block{ width:100%; float:left; margin:0 0 30px 0; padding:0 40px 0 0; display:flex;}
.testi_block figure{ width:109px; min-width:109px; max-width:109px; float:left; margin:0 30px 0 0; padding:0; border-radius:50%;}
.testi_block figure img{ border-radius:50%;}
.testi_block .detail{ margin:0; padding:50px; display:inline-block; background:#f1f1f1; font-size:16px; color:#000000; position:relative;}
.testi_block .detail:before{ content:""; border-top:14px solid transparent; border-right:14px solid #f1f1f1; border-bottom:14px solid transparent; border-left:14px solid transparent; position:absolute; top:30px; right:100%;}

.advantage_sec{ width:100%; float:left; margin:0; padding:60px 0; position:relative;}
.advantage_sec:before{ content:""; width:890px; height:2px; background:#d6d6d6; position:absolute; bottom:0; left:50%; transform:translate(-50%,0%);}
.advantage_sec p{ margin:0 0 15px 0; padding:0; font-size:16px; color:#000000;}
.advantage_sec p span{ color:#03539b; font-weight:bold;}

.sp_logos{ width:100%; float:left; background:#40c2c4; padding:40px 0;}
.sp_logos h3{ margin:0 0 40px 0; padding:0; font-size:27px; color:#fff; text-align:center; font-weight:normal;}
.sp_logos ul{ width:100%; float:left; margin:0;}
.sp_logos ul li{ width:20%; float:left; display:inline-block; text-align:center;}

.faq_sec{ width:100%; float:left; padding:50px 0 20px; text-align:center;}
h2.title{ font-size:38px; color:#03539b; margin:0; font-weight:700;}
.faq_sec a{ color:#03539b;}

.quote_sec{ width:100%; float:left; background:#f1f1f1; padding:30px 0 10px; font-size:15px;}
.quote_sec p{ font-size:15px;} 

footer{ background:#03539b; padding:20px 0; width:100%; float:left;}
.ftr_logo{ width:100%; float:left; margin:0 0 10px;}
.ftr_logo img{ width:200px;}
.copy_right{ width:100%; float:left; padding:10px 0; border-top:1px solid #fff; font-size:11px; color:#fff;}
.copy_right a{ padding:0 5px; color:#fff;}
.copy_right a:hover{ opacity:0.7;}

#Subscribes{}
#Subscribes .modal-header{ border:none; padding:0;}
#Subscribes .close{ font-size:20px; color:#00529b; opacity:1;padding:0; margin-bottom:30px;}
#Subscribes .modal-header p{ display:block; padding:0 40px;}
#Subscribes .modal-content { border-radius:0; }
#Subscribes h2.title{ width:100%; text-align:center; padding:20px 15px; background:#03539b; color:#fff; display:block;}
#Subscribes .modal-body{ padding:20px 40px 10px 40px;text-align:center;}
#Subscribes .modal-body p{ padding:0 6%; }
.email_form{ width:100%; float:left; padding:10px 10%; }
.email_form .form-control{ height:60px;}
.email_form .btn{ border-radius:10px}




#btn-back-to-top {
    
    width:150px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    cursor: pointer; 
  }